/* Bonjour, voici un commentaire caché ! Je vais essayer de vous expliquer en détail mon code CSS ! :') */

head {
	font-family: 'Comic Sans MS', arial;
}

body {
	background-color: black;
	font-family: 'Comic Sans MS', arial;
}

/*Ici, j'importe la police d'écriture de la page : Le Comic Sans MS, importé par mes soins dans le code HTML. Également, je met la couleur de fond du site en noir.*/

.PremierTitre {
	color:white;
	font-family: "Comic Sans MS", arial;
	font-size: 3em;
	text-align: center;
	border-width: 1px;
	border-style: solid;
 	border-color: white;
}

.DeuxiemeTitre {
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: italic;
	text-align: center;
}

.PremierTexte {
	color:white;
	font-family: "Comic Sans MS", arial;
	font-size: 1em;
	text-align: center;
}

.PremierCommentaire {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

#Encadrement {
	color: white;
	font-family: "Comic Sans MS", arial;
	font-size: 1em;
	text-align: center;
	border: 2px;
	border-color: white;
	border-style: solid;
	margin-left: -35px;
	margin-right: -35px;
	background: linear-gradient (to bottom right : #696969, #000000;)
}

/* Est-ce qu'on peut prendre deux secondes pour parler du fait que les commentaires cahcées c'est vraiment très très drôle ? */

img {
	width: 100px;
	height: 75px;
}

.PremierBouton {
	text-align: center;
}

.DeuxiemeBouton {
	text-align: center;
}

.WalterWhite {
	width: 200px;
	height: 200px;
	align-self: center;
	text-align:center;
	margin: auto;
	display: flex;
}

.Tkt {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

/* Là c'est pas Valentin qui écrit les messages, c'est Louis. Et comme je comprend quasiment rien au CSS j'ai peur d'avoir pété un truc ou deux... désolé */

.Description {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

.Ziak {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

.Haram {
	width: 200px;
	height: 200px;
	align-self: center;
	text-align:center;
	margin: auto;
	display: flex;
}

/**/

.Interdit {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}
/*                                                              ---/=======>  C'EST L'EPEE +1 !!!                                                             */

.Louis {
	width: 200px;
	height: 200px;
	align-self: center;
	text-align:center;
	margin: auto;
	display: flex;
}

.Dormir {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

.Chult {
	width: 200px;
	height: 200px;
	align-self: center;
	text-align:center;
	margin: auto;
	display: flex;
}

/* CE QUI S'EST PASSE AU CHULT, RESTE AU CHULT. */

.Passe {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;	
}

.Mari {
	width: 200px;
	height: 200px;
	align-self: center;
	text-align:center;
	margin: auto;
	display: flex;
}

.Agony {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;	
}

/*Mais, vous savez, moi je ne crois pas qu’il y ait de bonne ou de mauvaise situation. Moi, si je devais résumer ma vie aujourd’hui avec vous, 
je dirais que c’est d’abord des rencontres, des gens qui m’ont tendu la main, peut-être à un moment où je ne pouvais pas, où j’étais seul chez moi.
Et c’est assez curieux de se dire que les hasards, les rencontres forgent une destinée… Parce que quand on a le goût de la chose, quand on a le 
goût dela chose bien faite, le beau geste, parfois on ne trouve pas l’interlocuteur en face, je dirais, le miroir qui vous aide à avancer. 
Alors ce n’est pas mon cas, comme je le disais là, puisque moi au contraire, j’ai pu ; et je dis merci à la vie, je lui dis merci, je chante la vie, 
je danse la vie… Je ne suis qu’amour ! Et finalement, quand beaucoup de gens aujourd’hui me disent : « Mais comment fais-tu pour avoir cette humanité ? » 
Eh bien je leur réponds très simplement, je leur dis que c’est ce goût de l’amour, ce goût donc qui m’a poussé aujourd’hui à entreprendre une construction 
mécanique, mais demain, qui sait, peut-être simplement à me mettre au service de la communauté, à faire le don, le don de soi…*/ 

.Gus {
	width: 200px;
	height: 200px;
	align-self: center;
	text-align:center;
	margin: auto;
	display: flex;
}

.Gustavo {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

/* Note pour Valentin : Vérifie que j'ai rien cassé à ton code en écrivant les messages hein... on sait jamais... */

.Haha1 {
	color:white;
	font-family: "Comic Sans MS", arial;
	font-size: 3em;
	text-align: center;
	border-width: 1px;
	border-style: solid;
 	border-color: white;
}

.Haha {
	color:white;
	font-family: "Comic Sans MS", arial;
	font-size: 25px;
	font-style: italic;
	text-align: center;
}

.SansUndertale {
	width: 200px;
	height: 200px;
	align-self: center;
	text-align: center;
	margin: auto;
	display: flex;
}

.Fin {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

/*En vrai, la capacité de voler commeun oiseau c'est juste la capactié de tomber au sol et de le rater.*/
